body
{
	background: url("../images/bg.png");
	font-family: arial;
	line-height: 25px;
	margin: 0;
	padding: 0;
}

#header
{
	position: absolute;
	left: 265px;
	top: 240px;
}

#main
{
	width: 880px;
	height: 580px;
	border: 3px solid #e1e1e1;
	position: absolute;
	top: 300px;
	left: 160px;
	color: #464646;
	padding-left: 15px;
	background: url("../images/tammy3.png") no-repeat;
}
	
#footer
{
	width: 700px;
	position: absolute;
	left: 200px;
	top: 850px;
	font-size: 0.8em;
}			

#footer a
{
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-size: 16px;
}

#footer a:hover
{
	text-decoration: underline;
	font-family: "Trebuchet MS";
	font-size: 16px;
}